# Editors
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
.idea

# OS X metadata
.DS_Store

# Windows junk
Thumbs.db

# NPM
/node_modules
/wc-product-size-guide
wc-product-size-guide.zip
package-lock.json
/assets/css/admin.css
/assets/css/style.css
/assets/js/admin.min.js
